/*
 * @Author: depers 
 * @Date: 2019-05-31 10:26:14 
 * @Last Modified by: depers
 * @Last Modified time: 2019-05-31 10:50:24
 */

.nav-sample{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-sample .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}