/*
 * @Author: depers 
 * @Date: 2019-06-04 16:59:36 
 * @Last Modified by: depers
 * @Last Modified time: 2019-06-04 17:39:13
 */
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center; 
}